---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";

export const getStaticPaths = async () => {
	const authors = await getCollection("authors");

	return authors.map((author) => ({
		params: {
			slug: author.data.username,
		},
		props: {
			author: author,
		},
	}));
};

const author = Astro.props.author.data;
// const posts = Astro.props.author.data.authoredPosts;
const posts = await getEntries(author.authoredPosts);
---

<Layout title=`${author.username}` layout="content">
	<div>
		<h1>
			{author.username}
		</h1>

		<div class="mt-5">
			<ul>
				{
					posts.map((post) => (
						<div class="w-full">
							<div class=" justify-between sm:flex bg-black text-white mb-2 w-100">
								<a href={`/blogs/${post.slug}`}>
									<li>{post.data.title}</li>
								</a>
								<button class="bg-black text-white hover:bg-white hover:text-black border border-white hover:border-black">
									✓
								</button>
							</div>
						</div>
					))
				}
			</ul>
		</div>
	</div>
</Layout>
