---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home" hero="home">
	<div class="grid grid-layout">
		<h1>Lorem Ipsum</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
			ratione eius doloribus facilis. Doloribus odio nostrum quae earum,
			nihil doloremque impedit commodi totam aspernatur similique quos
			sint veritatis veniam corporis.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
			ratione eius doloribus facilis. Doloribus odio nostrum quae earum,
			nihil doloremque impedit commodi totam aspernatur similique quos
			sint veritatis veniam corporis.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
			ratione eius doloribus facilis. Doloribus odio nostrum quae earum,
			nihil doloremque impedit commodi totam aspernatur similique quos
			sint veritatis veniam corporis.
		</p>
	</div>

	<div>
		<h2>Latest Posts</h2>
		<ul>
			<li>
				<a href="/blog/post-1">Post 1</a>
			</li>
			<li>
				<a href="/blog/post-2">Post 2</a>
			</li>
			<li>
				<a href="/blog/post-3">Post 3</a>
			</li>
		</ul>
	</div>

	<div>
		<h2>Latest Projects</h2>
		<ul>
			<li>
				<a href="/projects/project-1">Project 1</a>
			</li>
			<li>
				<a href="/projects/project-2">Project 2</a>
			</li>
			<li>
				<a href="/projects/project-3">Project 3</a>
			</li>
		</ul>
	</div>

	<div>
		<h2>Latest Videos</h2>
		<ul>
			<li>
				<a href="/videos/video-1">Video 1</a>
			</li>
			<li>
				<a href="/videos/video-2">Video 2</a>
			</li>
			<li>
				<a href="/videos/video-3">Video 3</a>
			</li>
		</ul>
	</div>

	<div>
		<h2>Latest Podcasts</h2>
		<ul>
			<li>
				<a href="/podcasts/podcast-1">Podcast 1</a>
			</li>
			<li>
				<a href="/podcasts/podcast-2">Podcast 2</a>
			</li>
			<li>
				<a href="/podcasts/podcast-3">Podcast 3</a>
			</li>
		</ul>
	</div>

	<div>
		<h2>Latest Events</h2>
		<ul>
			<li>
				<a href="/events/event-1">Event 1</a>
			</li>
			<li>
				<a href="/events/event-2">Event 2</a>
			</li>
			<li>
				<a href="/events/event-3">Event 3</a>
			</li>
		</ul>
	</div>

	<div>
		<h2>Latest Products</h2>
		<ul>
			<li>
				<a href="/products/product-1">Product 1</a>
			</li>
			<li>
				<a href="/products/product-2">Product 2</a>
			</li>
			<li>
				<a href="/products/product-3">Product 3</a>
			</li>
		</ul>
	</div>

	<div>
		<h2>Latest Services</h2>
		<ul>
			<li>
				<a href="/services/service-1">Service 1</a>
			</li>
			<li>
				<a href="/services/service-2">Service 2</a>
			</li>
			<li>
				<a href="/services/service-3">Service 3</a>
			</li>
		</ul>
	</div>
</Layout>
