---
import AlbumGallery from "@components/AlbumGallery.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
---

<Layout title="releases" layout="content">
	<div slot="content" >
			<h1 class="text-6xl bg-black text-white">releases</h1>
			<AlbumGallery />
	</div>
</Layout>
