---
import Logo from "./Logo.astro";
import Subheading from "./Subheading.astro";
import Navbar from "./Navbar.astro";
import Hero from "./Hero.astro";

const { title, hasHero } = Astro.props;
---

<div data-scroll-watcher="header"></div>
<header class="absolute scroll:fixed w-full z-30 transition-all">
	<div class="relative">
		<div class="bg-white backdrop-blur-[1px]" transition:animate="none">
			<div
				class="grid grid-layout gap-2 justify-center align-center text-900 scroll:text-600 sm:text-1400 scroll:sm:text-800 transition-all"
			>
				<div class="flex justify-center gap-2 p-2">
					<div class="self-center">
						<a href="/" class="w-full h-full">
							<Logo fill=" #000" />
						</a>
					</div>
					<Navbar />
				</div>
			</div>
		</div>
		<Subheading title={title} hasHero={hasHero} />
		{hasHero ? <Hero title={title} /> : null}
	</div>
</header>
