---
interface Props {
	title: string;
	innerPage?: boolean;
}

const { title, innerPage } = Astro.props;
console.log(innerPage);
---

<div
	class=`${innerPage ? 'scroll' : ''} transition-all grid-col-full grid grid-layout scroll:fixed w-full z-20 bg-black scroll:bg-black scroll:bg-opacity-80 backdrop-blur-lg  `
>
	<h1
		class="text-400 sm:text-1200 scroll:text-600 lg:text-1200 scroll:lg:text-1000 text-white
		transition-all"
	>
		<span class="text-400 scroll:text-200 lg:text-1000 lg:scroll:text-600">
			barely there //
		</span>
		{title}
	</h1>
</div>
