---
import Logo from "./Logo.astro";

import Navbar from "./Navbar.astro";
---

<div data-scroll-watcher="header"></div>
<header
	class=`fixed w-full z-20 bg-white backdrop-blur-[1px]  py-4 scroll:py-2
	`
	transition:animate="none"
>
	<div
		class="grid grid-layout gap-2 justify-center align-center transition-all text-1200 scroll:text-100 transition-all"
	>
		<div
			class="col-start-wide col-end-left-gap transition-grid scroll:col-end-right-col flex justify-end"
		>
			<a href="/" class="max-w-[16em]">
				<Logo fill=" #000" />
			</a>
		</div>
		<Navbar />
	</div>
</header>
