---
import Logo from "./Logo.astro";


import Navbar from "./Navbar.astro";

---
<div data-scroll-watcher="header"></div>
<header
	class=`fixed flex justify-center w-full scroll:bg-200 py-4 scroll:py-2 bg-header
	` 
	transition:animate="none">
	<div class="justify-center items-center grid grid-cols-header gap-2 w-content sm:gap-4 transition-[font-size] text-1200 scroll:text-900 " >
		<h1 class="text-1200 text-white font-black z-[-1]">BARELY THERE</h1>
		<div class="col-start-2 w-[4em]">
			<a href="/" title="Barely There Records">
				<Logo
					fill="#000"
					title="Barely There Records"
				/>
			</a>
		</div>
		<Navbar />
		</div>
</header>