---
import { getCollection } from "astro:content";

const pages = await getCollection("pages");

const { title, hero } = Astro.props;
const content = pages.find((page) => page.slug === title);
if (!content) {
	throw new Error(`No hero found for slug "${title}"`);
}

const { Content } = await content.render();
console.log(hero);
---

<div
	class:list={[
		"min-h-dvh",
		"max-h-dvh",
		"w-full",
		"text-white",
		"grid",
		"grid-layout",
		"overflow-y-auto",
		`bg-${hero}`,
รงรง		"scroll:max-h-0",
		"scroll:min-h-0",
		"scroll:bg-black",
	]}
	id="hero"
>
	<div class="text-black bg-white bg-opacity-15 shadow p-4 mt-4">
		<h1 class="text-1200 font-black">
			{content.data.title}
		</h1>
		<Content />
	</div>
</div>
