---
import { getCollection } from "astro:content";

const collection = await getCollection("heroes");
const { title } = Astro.props;

const content = collection.find((hero) => hero.slug === title);
if (!content) {
	throw new Error(`No hero found for slug "${title}"`);
}
const { Content } = await content.render();
---

<div
	class="min-h-dvh max-h-dvh bg-opacity-90 bg-black scroll:bg-none w-full transition-all col-full text-white grid grid-layout overflow-scroll scroll:overflow-clip scroll:max-h-0 scroll:min-h-0"
	id="hero"
>
	<div class="text-black bg-white">
		<h1 class="text-1200 font-black">{content.data.title}</h1>
		<Content />
	</div>
</div>
