---

const links = [
	{
		text: "RELEASES",
		href: "/releases",
	},
	{
		text: "SHOWS",
		href: "/shows",
	},
	{
		text: "BLOGS",
		href: "/blogs",
	},
	{
		text: "TV",
		href: "/tv",
	},
	{
		text: 'ZINES',
		href: '/zines',
	},
];



const setActive = (href: string) => {
    if (Astro.url.pathname.startsWith(href)) {
        return "active";
    }
};


---
<nav class=" flex justify-center scroll:hidden ">
	<ul class="space-y-1">
		{
			links.map((link) => (
				<a href={link.href} >
					<li
						class={
								`nav-item text-300 font-black pr-6 sm:pr-12 pl-1 
								${setActive(link.href)}
							`}
					>
						{link.text}
					</li>
				</a>
			))
		}
	</ul>
</nav>

<style>
	.nav-item:hover,
	.active {
		background: black;
		color: #fff;
	}

	.nav-item:last-
</style>
