---
const links = [
	{
		text: "RELEASES",
		href: "/releases",
	},
	{
		text: "SHOWS",
		href: "/shows",
	},
	{
		text: "BLOGS",
		href: "/blogs",
	},
	{
		text: "TV",
		href: "/tv",
	},
	{
		text: "ZINES",
		href: "/zines",
	},
];

const setActive = (href: string) => {
	if (Astro.url.pathname.startsWith(href)) {
		return "active";
	}
};
---

<nav class="col-start-right-col flex items-center transition-all scroll:hidden">
	<ul class="space-y-1">
		{
			links.map((link) => (
				<a href={link.href}>
					<li
						class={`nav-item text-300 font-black
								${setActive(link.href)}
							`}
					>
						{link.text}
					</li>
				</a>
			))
		}
	</ul>
</nav>
<style>
	.active {
		color: white;
		background: black;
	}
</style>
