---
interface Props {
	title: string;
	hero?: boolean;
}

const { title, hero } = Astro.props;
---

<div
	class=` col-start-wide transition-all grid-col-full grid grid-layout w-full z-20 bg-black scroll:bg-none scroll:bg-opacity-80 backdrop-blur-lg sticky scroll:top-0 `
>
	<h2
		class="text-600 scroll:text-400 sm:text-800 sm:scroll:text-600 lg:text-1000 lg:scroll:text-800 text-white
		transition-all"
	>barely there records<span class=`${!hero ? 'visible' : 'invisible'} scroll:visible `>
			// releases
		</span>
	</h2>
</div>
