---
interface Props {
	title: string;
	innerPage?: boolean;
}

const { title, innerPage } = Astro.props;
console.log(innerPage);
---

<div
	class=` col-start-wide transition-all grid-col-full grid grid-layout w-full z-20 bg-black scroll:bg-none scroll:bg-opacity-80 backdrop-blur-lg sticky scroll:top-0 `
>
	<h2 class="text-1200 scroll:text-800 text-white
		transition-all">
		<span
			class="text-400 scroll:text-200 sm:text-800 sm:scroll:text-600 lg:text-1000 lg:scroll:text-800"
		>
			barely there //
		</span>
		{title}
	</h2>
</div>
