---
import Header from "@components/Header.astro";

const { innerPage, title } = Astro.props;
---

<Header innerPage={innerPage} title={title} />
<div class="mt-[17em]" id="content">
	<slot />
</div>
