---
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";

const { innerPage, title } = Astro.props;
---

<Header />
<Heading title={title} innerPage={innerPage} />
<div class="min-h-dvh relative">
	<div
		class="pt-[6rem] min-h-dvh min-w-content scroll:pt-[19rem] transition-all"
	>
		<slot />
	</div>
</div>
