---
// Fonts
import "@fontsource/geist-sans";
import "@fontsource/geist-mono";

// Local imports
import Head from "@components/Head.astro";
import Footer from "@components/Footer.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
// Types
interface Props {
	title: string;
	hero?: string;
}
// const layoutName =
// layout.charAt(0).toUpperCase() + layout.slice(1).toLowerCase();
// const Wrapper = await import(`../layouts/${layoutName}Layout.astro`);
// call Wrapper.default() to render the layout

const { title, hero = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class=`bg-gray-200 grid grid-layout
	 `>
		<ContentLayout title={title} hero={hero}>
			<slot />
		</ContentLayout>
		<Footer />
		<script>
			const initIntersectionObserver = () => {
				const body = document.querySelector("body");
				const observeHeader = document.querySelector(
					'[data-scroll-watcher="header"]'
				);
				let scrollObserver;

				scrollObserver = new IntersectionObserver(
					(positions) => {
						positions.forEach((position) => {
							if (position.target instanceof HTMLElement) {
								switch (position.target.dataset.scrollWatcher) {
									case "header":
										body?.classList.toggle(
											"scroll",
											!position.isIntersecting
										);

										break;
								}
							}
						});
					},
					{ rootMargin: "20px 0px -45px 0px" }
				);

				if (observeHeader) {
					scrollObserver.observe(observeHeader);
				}
			};

			// Run Intersection Observer setup after page load
			document.addEventListener("astro:page-load", () => {
				initIntersectionObserver();
			});
		</script>

		<style is:global>
			.grid-layout {
				--full: 0.15fr;
				--wide: 0;
				--col: 2.5fr;
				--gap: 0;

				display: grid;
				grid-auto-rows: auto;
				grid-template-columns:
					[full-start] minmax(0, var(--full))
					[wide-start] minmax(0, var(--wide))
					[content-start left-col-start] minmax(0, var(--col))
					[left-col-end left-gap-start] minmax(0, var(--gap))
					[left-gap-end right-gap-start] minmax(0, var(--gap))
					[right-gap-end right-col-start] minmax(0, var(--col))
					[right-col-end content-end] minmax(0, var(--wide))
					[wide-end] minmax(0, var(--full))
					[full-end];
			}
			.grid-layout > :where(:not([class*="col-"])) {
				grid-column: content;
			}

			body {
			}
		</style>
	</body>
</html>
