---
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";

const title = Astro.props.title;
---

<Header />
<Heading title={title} />
<div class="h-dvh relative">
	<div class="pt-[6rem] scroll:pt-[19rem] transition-all">
		<slot />
	</div>
</div>
